.footer__column-links {
  margin: 20px 0 18px 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
.footer__column-link:hover {
  opacity: 0.5;
  transition: opacity 2s linear;
}
