.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;

  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.header__logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  font-size: 102px;
  color: #000000;
  font-weight: 700;
  width: 730px;
  min-height: 96px;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  min-height: 25px;
  font-size: 18px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  justify-content: space-between;
  display: flex;
}

.two-columns__brief {
  width: 175px;
  min-height: 400px;
}

h6 {
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  line-height: 1.2;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.for_divs {
  margin: 30px 0px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.digits {
  display:flex;
  justify-content: center;
  position: relative;
  flex-flow: column;
  align-items: center;
  }

.section-title {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;

}

h2 {
  width: 100%;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.15;
}

.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  }

h3 {
  width: 100%;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

.table {
  width: 1100px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  justify-content: space-between;
  }

.table__cell {
  width: 250px;
  display: flex;
  flex-flow: column;
  margin: 60px 0 0 0;
 }

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 20px 0 0 0;
  padding: 0;
}

.table__text_under {
  margin: 0;
  padding: 0;
}

.feynman {
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
 /* background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat; */
  display: flex;
  flex-flow: column;
  align-items: center;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__title {
  display: flex;
  justify-content: center;
  width: 648px;
  text-align: center;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 70px;
 }

 .feynman__title_h2 {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  margin: 0;
 }

.feynman__subtitle {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.feynman__subtitle_h3 {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}
